.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.navbar{
    background-color: #04D95F !important;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
    font-weight: bold !important;
}

.content{
    padding-top: 80px;
}

.footer {
    margin-top: 20px;
    padding:10px;
    text-align: center;
    background-color: #04D95F;
    color: white;
}

button{
    background-color: #04D95F;
    box-shadow: none;
    border: 1px solid rgba(255,255,255,0.692);
    color: white;
    padding: 5px;
}

button:hover{
    background-color: tomato;
}

.loader{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}

.spinner-border{
    height: 100px;
    width: 100px;
}

a{
    text-decoration: none;
}

.nav-item button {
    color: black !important;
}

.nav-tabs{
    background-color: cadetblue;
}